<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Index Page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/static/css/manage.css">
</head>
<body>
<header class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="#">NBA</a>
  </h1>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
      class="am-icon-bars"></span></button>
  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li><a href="#">首页</a></li>
      <li class="am-active"><a href="/manage">球星列表</a></li>
    </ul>
    <div class="am-topbar-right">
      <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm login-btn"><span class="am-icon-user"></span> 登录</button>
    </div>
  </div>

</header>
<article class="am-art">
  <p>球星列表</p>
  {% for i in article %}
    <a href="/detail/?id={{i.id}}">{{i.name}}</a>
    <br>
  {% endfor %}
  <hr>
  <br>
  <a href="/admin" class="am-btn am-btn-primary">后台管理</a>
</article>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/js/user.js" charset="utf-8"></script>
<script type="text/javascript">

</script>
</body>
</html>
